.sidebar{
  float: left;
  padding: 10px;
  margin: 15px;
  border: 10px;
  background-color: black;
  color: white;

}

.center{
  text-align: center;
}

.Title{
  font-weight: bold;
  font-size: 40pt;
}

img.main{
  float: right;
  width: 300px;
  padding: 20px;
  text-align: right;
}

.column1{
  background-color: gray;
}

.column2{
  background-color: blue;
}

.column3{
  background-color: green;
}

.column{
  width: 300px;
  float: left;
  margin: 20px;
  text-align: center;
  border: 5px;
}

img.column{
  height: 200px;
  width: 250px;
}
